.btn {
    background: #644986;
    color: #FFFFFF;
    outline: none;
    /* border: none; */
    padding: 15px;
    border: none;
    border-radius: 14px;
    text-decoration: none;
}

.topGradient {
    width: 755px;
    height: 755px;
    background: linear-gradient(180deg, #644986 0%, rgba(100, 73, 134, 0) 100%);
    filter: blur(379.951px);
    position: absolute;
    top: -260px;
    left: -242px;
}

.leftGradient {
    position: absolute;
    width: 154px;
    height: 154px;
    left: -50px;
    top: 564px;

    background: linear-gradient(180deg, #644986 0%, rgba(100, 73, 134, 0) 100%);
    filter: blur(77.5px);
}

.leftBottomGradient {
    position: absolute;
    width: 497px;
    height: 497px;
    left: -30px;
    top: 100;

    background: linear-gradient(180deg, rgba(100, 73, 134, 0.67) 0%, rgba(100, 73, 134, 0) 100%);
    filter: blur(250.114px);
}

.rightTopGradient {
    position: absolute;
    width: 555px;
    height: 555px;
    right: -117px;
    top: 200px;
    background: linear-gradient(180deg, #CE2937 0%, rgba(157, 7, 38, 0) 100%);
    filter: blur(379.951px);
}

.rightBottomGradient {
    position: absolute;
    width: 555px;
    height: 592px;
    right: -117px;
    top: 1025px;
    background: linear-gradient(180deg, #CE2937 0%, rgba(157, 7, 38, 0) 100%);
    filter: blur(379.951px);
}

.rightBottom2Gradient {
    position: absolute;
    width: 516px;
    height: 449px;
    /* right: -50px;
    top: 2199px; */

    top: 70px;
    right: 80px;

    /* background: #CE2937; */
    background: linear-gradient(180deg, rgba(101, 5, 8, 0.33) 0%, rgba(101, 5, 8, 0.130706) 100%);
    filter: blur(126.315px);
}

.btnCenteredGradient {
    position: absolute;
    width: 154px;
    height: 154px;
    left: 680px;
    top: 400px;

    background: linear-gradient(180deg, #644986 0%, rgba(100, 73, 134, 0) 100%);
    filter: blur(77.5px);
}

.mobileLeftGradient {
    position: absolute;
    width: 317.98px;
    height: 317.98px;
    left: -205px;
    top: 284px;

    background: linear-gradient(180deg, #644986 0%, rgba(100, 73, 134, 0) 100%);
    filter: blur(160.024px);
}

.mobileRightGradient {
    position: absolute;
    width: 317.98px;
    height: 317.98px;
    left: 241.02px;
    top: 546.39px;

    background: linear-gradient(180deg, #CE2937 0%, rgba(157, 7, 38, 0) 100%);
    filter: blur(160.024px);
}

.mobileCenteredGradient {
    position: absolute;
    width: 64.86px;
    height: 64.86px;
    left: 204.38px;
    top: 603.91px;

    background: linear-gradient(180deg, #644986 0%, rgba(100, 73, 134, 0) 100%);
    filter: blur(32.6406px);
}


.dsplogoContainer {
    /* border-radius: 35px; */
    /* border: 1px solid rgba(121, 121, 121, 0.3); */
    /* border-radius: 16px; */

    /* background: rgba(121, 121, 121, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px); */


    background: radial-gradient(70.71% 141.42% at 50% 100%, rgba(20, 20, 20, 0.8) 10%, rgba(20, 20, 20, 0.8) 10%, #141414 100%), linear-gradient(273.13deg, #00EF86 0%, #008CFF 33.33%, #EC3258 66.67%, #FCDA00 100%);
    /* border-radius: 30px; */
}
